body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

nav#navbar {
    background: #d21e39;
    position: fixed;
    top: 0;
    width: 100%;
}


nav#navbar .menu {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    width: 100%;
    margin-left: auto;
    position: relative;
    /* right: 30px !important; */
}

nav#navbar .menu a {
    display: block;
    padding: 25px;
    color: white;
}

nav#navbar .menu a:hover {
    background: rgb(101, 101, 248);
}

#welcome-section{
    height: 100vh;
    width: 100%;
    background: #2f3133;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

#welcome-section h1{
    color: white;
    font-weight: bold;
    font-size: 3em;
}

#welcome-section p{
    color: red;
    font-size: 24px;
    position: relative;
    top: -40px;
}


@media(max-width: 500px){

}